.heroSection {
  width: 100%;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.bgImg {
  width: 100%;
  height: 1024px;
  object-fit: cover;
}

.textBlock {
  position: absolute;
  top: 320px;
  left: 210px;
  width: 480px;
  color: #fff;
}

.textBlock h2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 55px;
  line-height: 111%;
}

.textBlock h2 span {
  font-weight: 700;
}

.dronLogo {
  position: absolute;
  width: 105px;
  top: 681px;
  left: 300px;
}

.flyLogo {
  position: absolute;
  width: 105px;
  top: 900px;
  left: 300px;
}

.ringBox {
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
  width: 760px;
}

.section2 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 140px;
  padding-bottom: 80px;
}

.sec2Left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec2TopIcon {
  width: 93px;
  margin-bottom: 25px;
  margin-right: 538px;
  margin-top: -101px;
}

.sec2CenterIcon {
  width: 93px;
  margin-bottom: 25px;
  margin-right: 538px;
  padding-top: 23px;
}

.sec2SmallTitle {
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 500;
  color: #002D38;
  margin-bottom: 40px;
  margin-right: 507px;
  text-align: center;
}

.sec2MainHeading {
  display: flex;
  gap: 24px;
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 700;
  color: #002D38;
}

.dotBox {
  width: 45px;
}

.sec2Right {
  width: 540px;
  position: relative;
}

.gridTop {
  position: absolute;
  top: -106px;
  right: 132px;
  width: 383px;
}

.gridBottom {
  position: absolute;
  bottom: -34px;
  left: -533px;
  width: 390px;
}

.sec2Para {
  font-family: 'Montserrat';
  font-size: 18px;
  color: #002D38;
  line-height: 150%;
  margin-top: 404px;
}

/* SECTION 3 */
.section3 {
  width: 100%;
  background: #DAF6EC;
  padding: 80px 0 140px;
}

.tabHeader {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 60px;
}

.tabBtn {
  font-family: 'Montserrat';
  font-size: 20px;
  background: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}

.activeTab {
  opacity: 1;
  font-weight: 700;
  color: #44D09F;
}

.section3Content {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sliderBox {
  width: 48%;
}

.sliderTrack {
  width: 100%;
  height: 600px;
  display: flex;
  transition: 0.6s ease;
  overflow: hidden;
}

.sliderImg {
  width: 100%;
  height: 600px;
  object-fit: cover;
  min-width: 100%;
  border-radius: 30px;
}

.sliderDots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 22px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #A4D6C0;
  cursor: pointer;
}

.activeDot {
  background: #003D30;
}

.textRight {
  width: 42%;
}

.headingRight {
  font-family: 'Montserrat';
  color: #002D38;
  font-size: 60px;
  font-weight: 700;
  line-height: 110%;
}

.rightList {
  list-style: none;
  margin-top: 40px;
}

.rightList li {
  font-size: 20px;
  color: #002D38;
  margin-bottom: 14px;
}

.exploreBtn {
  margin-top: 40px;
  background: white;
  padding: 18px 34px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
/* 4 section  */
.section4 {
  width: 100%;
  background: #59C09A;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 140px 180px;
}

.sec4Left {
  width: 50%;
}

.sec4Heading {
font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #002D38;
    margin-bottom: -153px;
    padding-top: 129px;
}


.sec4Heading span {
  font-weight: 700;
}

.sec4Image {
    width: 863px;
    height: auto;
    margin-top: 188px;
}


.sec4Right {
  width: 40%;
  text-align: right;
}

.sec4List {
  list-style: none;
}

.sec4List li {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 88px;
  text-transform: capitalize;
  color: #002D38;
  width: fit-content;
  margin-left: auto;
  border-bottom: 1px solid #004D3A;
  padding-bottom: 8px;
}

.section5 {
  width: 100%;
  background: #B8E0D3;
  text-align: center;
  padding: 120px 0 160px;
}

.sec5Logo {
  width: 260px;
  height: auto;
  display: block;
  margin: 0 auto 40px auto;
}



.sec5BraceWrapper {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.sec5BraceLeft,
.sec5BraceRight {
  width: 120px;
  height: auto;
}

.sec5Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  width: 70%;
}

.sec5Grid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.sec5Heading {
  font-family: 'Montserrat';
  font-size: 42px;
  font-weight: 700;
  color: #002D38;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}


.sec5Button {
  margin-top: 80px;
  background: white;
  padding: 20px 50px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

/* SECTION 7 */
.section7 {
  width: 100%;
  min-height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.sec7Content {
  width: 100%;
 min-height: 1056px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 120px;
}

.sec7Left {
  width: 50%;
  color: white;
  z-index: 2;
}

.sec7Logo {
  width: 220px;
  margin-bottom: 40px;
}

.sec7Heading {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  color: white;
  margin-bottom: 40px;
}

.sec7Para {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: white;
}

.sec7Para strong {
  font-weight: 700;
}