.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #03303D;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.scrollToTop:hover {
    background-color: #44D09F;
    transform: translateY(-5px);
}

.arrow {
    font-size: 24px;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .scrollToTop {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
    }

    .arrow {
        font-size: 20px;
    }
}