.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: none;
    z-index: 1000;
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
    padding: 0;
}

.scrollToTop:hover {
    transform: translateY(-5px);
}

.arrow {
    width: 75%;
    height: 75%;
    object-fit: contain;
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .scrollToTop {
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
    }
}